<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="Yunqi-Library" value="https://gitlab.apps.yunqi.studio/api/v4/groups/78/-/packages/nuget/index.json" />
    </packageSources>
    <packageSourceMapping>
        <!-- key value for <packageSource> should match key values from <packageSources> element -->
        <packageSource key="nuget.org">
            <package pattern="*" />
        </packageSource>
        <packageSource key="Yunqi-Library">
            <package pattern="Yunqi.*" />            
        </packageSource>
    </packageSourceMapping>
</configuration>